@font-face {
    font-family: "Roboto";
    src: url(../../assets/fonts/FiraSans-Medium.ttf);
}

.mainContainer{
    // border: 1px solid red;
    width: 22%;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}

.header{
    // border: 1px solid red;
    height: 65px;
    width: 85%;
    color: white;
    font-size: 1.45em;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto";
    margin-top: 10px;
}

.createIconContainer{
    background-color: rgb(35, 35, 35);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createIconContainer:hover{
    background-color: rgb(13, 164, 5);
    height: 44px;
    width: 44px;
    color: white;
}

.createIcon{
    height: 44px;
    filter: invert(1);
}


.libraryFilters{
    // border: 1px solid red;
    height: 100px;

}